// FONT
$font_family              : 'Source Sans Pro', sans-serif;
$font_weight              : 300;
$font_weight-regular      : 400;
$line_height              : 1.5;

// SCREEN SIZE — SS
$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

// COLORS
$color_text               : #696969;
$color_primary            : #FF3700;
$color_gray               : #E7E7E7;
$color_pink               : #FDDFE4;
$go: linear-gradient(119.51deg, #74197B 0%, #B32D6B 24.09%, #D13B54 36.48%, #E8614C 50.82%, #F3B364 86.75%);