extends ./pug/layout

block content
	<!-- START HEADER -->
	.header
		.container
			.header__inner
				a.header__logo.content-tab(href="#about")
					img.header__logo-img(src="images/logo.png")
				.header__nav.nav
					a.nav__item.content-tab.content-tab--active(href="#about") О компании
					a.nav__item.content-tab(href="#mission") Миссия, ценности, стратегия
					a.nav__item.content-tab(href="#career") Карьера и развитие
					a.nav__item.content-tab(href="#corpo") Корпоративная жизнь
					a.nav__item(href="https://www.arcelormittal.kz" target="_blank") arcelormittal.kz
				+nav-btn
	<!-- END HEADER -->

	<!-- START CONTENT ABOUT -->
	.content.content--active.content--opacity-1.content__about
		<!-- START SECTION HOME -->
		.section.s-home.section--medium-pb 
			.container 
				.s-home-main
					.s-home-main__img-wrapper 
						img.s-home-main__img(src="images/main.jpg") 
					.s-home-main__logo-wrapper
						img.s-home-main__logo(src="images/home-logo.svg")
					.s-home-main__square-wrapper
						img.s-home-main__square(src="images/square.svg")
					.s-home-main__title СОЗДАЙ СВОЙ МИР
		<!-- END SECTION HOME -->

		<!-- START SECTION ABOUT -->
		.section.s-about
			.container 
				.title.title--mb-medium.s-about__title О компании
				.s-about__text 
					p Компания «АрселорМиттал» является мировым лидером по производству стали и занимает ведущие  позиции на основных металлургических рынках мира, включая такие отрасли как автомобилестроение, строительство, производство бытовой техники и упаковки. Также компания обладает крупными запасами сырья и эффективной системой сбыта. Компания «АрселорМиттал», штат которой насчитывает около 199 тыс. сотрудников, имеет представительства в 60 странах мира. АО «АрселорМиттал Темиртау» является крупнейшим предприятием горно-металлургического сектора Республики Казахстан и представляет собой интегрированный горно-металлургический комплекс с собственным углем, железной рудой и энергетической базой.

					p «АрселорМиттал» ведет свою металлургическую деятельность на четырех континентах, включая как развитые, так и развивающиеся рынки. Около 35% нашей стали производится в Америке, 47% – в Европе и 18% – в других регионах, среди которых Казахстан, Южная Африка и Украина. «АрселорМиттал» лидирует на рынках металла Северной и Южной Америки, Западной и Восточной Европы, стран СНГ и Африки. Акции компании «АрселорМиттал» котируются на фондовых биржах Нью-Йорка (под торговым знаком MT), Амстердама (MT), Парижа (MT), Люксембурга (MT), Барселоны (MTS), Бильбао (MTS), Мадрида (MTS) и Валенсии (MTS).
				.s-about__img-wrapper 
					img.s-about__img(src="images/about.jpg")
		<!-- END SECTION ABOUT -->

		<!-- START SECTION STATS -->
		.section.s-stats.section--medium-pt.section--long-pb 
			.container
				.title.title--centered.title--mb-medium Основные факты о компании «АрселорМиттал» 
				.s-stats__cards 
					+stat-card("<span class='countup countup--without-separate' 	data-value='199'>0</span> тыс.", "год основания компании")
					+stat-card("<span class='countup countup--without-separate' data-value='1400'>0</span>", "талантов по всему миру")
					+stat-card("<span class='countup' data-value='11'>0</span> млн", "зарегестрированных пользователей в разных странах мира")
					+stat-card("<span class='countup countup--without-separate' 	data-value='58.5'>0</span> млн.", "год основания компании")
					+stat-card("<span class='countup countup--without-separate' data-value='76'>0</span> млрд.", "талантов по всему миру")
					+stat-card("<span class='countup' data-value='92.5'>0</span> млн", "зарегестрированных пользователей в разных странах мира")
		<!-- END SECTION STATS -->

		<!-- START SECTION COMPOUND -->
		.section.s-compound.section--long-pb 
			.container 
				.title.title--centered.title--mb-medium В состав АО «АрселорМиттал Темиртау» входят:
				.s-compound__inner 
					.s-compound__items 
						a.s-compound__link.content-tab(href="#steel") Cтальной департамент 
						a.s-compound__link.content-tab(href="#coal") Угольный департамент
						a.s-compound__link.content-tab(href="#iron") Железорудный департамент
					.s-compound__img-wrapper 
						img.s-compund__img(src="images/compound.jpg")
		<!-- START SECTION COMPOUND -->

		<!-- START SECTION SOCIAL -->
		.section.s-social.section--medium-pt 
			.container 
				.s-social__inner
					.s-social__img-wrapper 
						img.s-social__img(src="images/social.jpg") 
					.s-social__content 
						.s-social__title.title.title--mb-short Социальная ответственность
						.s-social__title
							p АО «АрселорМиттал Темиртау» является социально ориентированной компанией. На балансе предприятия находятся дома отдыха, санатории, детские летние лагеря отдыха, спортивные комплексы и медицинские учреждения. Компания является поставщиком коммунальных услуг (горячая и холодная вода, отопление, электроэнергия) жителям г. Темиртау.
		<!-- END SECTION SOCIAL -->

		<!-- START SECTION WORLD -->
		.section.s-world.section--long-pt
			.container 
				.title.title--centered.title--mb-medium Создай свой мир
				.s-world__inner 
					.s-world-item
						.s-world-item__title Полотно жизни
						.s-world-item__text 
							p Сталь повсюду. От стиральных машин до небоскребов. От ветряных электростанций до высокоскоростных железнодорожных сообщений. Производство этого прочного, многогранного и бесконечно перерабатываемого материала — это то, чем Вы можете по-настоящему гордиться. Это возможность внести позитивный вклад в Ваше общество, создавая инновационные устойчивые решения для борьбы с крупнейшими вызовами, с которыми общество сталкивается сегодня. Работа, которую Вы делаете в АрселорМиттал, в конечном итоге станет полотном жизни для будущих поколений.

							p <span>Отдавайте:</span> Увлеченность и стойкость, необходимые для достижения успеха в конкурентом мире сталелитейной и горнодобывающей промышленности. <br><span>Получайте:</span> Удовлетворение от работы, от результатов которой зависит настоящее и будущее других людей, сообществ и целых стран.
					.s-world-item
						.s-world-item__title Движимость выдающимися достижениями
						.s-world-item__text 
							p Сталь повсюду. От стиральных машин до небоскребов. От ветряных электростанций до высокоскоростных железнодорожных сообщений. Производство этого прочного, многогранного и бесконечно перерабатываемого материала — это то, чем Вы можете по-настоящему гордиться. Это возможность внести позитивный вклад в Ваше общество, создавая инновационные устойчивые решения для борьбы с крупнейшими вызовами, с которыми общество сталкивается сегодня. Работа, которую Вы делаете в АрселорМиттал, в конечном итоге станет полотном жизни для будущих поколений.

							p <span>Отдавайте:</span> Увлеченность и стойкость, необходимые для достижения успеха в конкурентом мире сталелитейной и горнодобывающей промышленности. <br><span>Получайте:</span> Удовлетворение от работы, от результатов которой зависит настоящее и будущее других людей, сообществ и целых стран.
					.s-world-item
						.s-world-item__title Самостоятельность
						.s-world-item__text 
							p Каждый в АрселорМиттал принимает активное участие в решении реальных вопросов. Наша работа сталкивает нас с уникальными вызовами каждый день, и мы должны проявлять личную инициативу и делать все возможное для выполнения поставленных задач. То же самое касается и Вашей карьеры в компании. Не стоит ожидать, что кто-то сделает все за Вас. Напротив, Вы можете взять под контроль Ваше развитие в компании и воспользоваться любыми возможностями, которые мы предлагаем для Вашего обучения, роста и совершенствования там, где Вы работаете, и по всему миру.

							p <span>Отдавайте:</span> Инициативность, предпринимательское мышление и желание взять на себя ответственность за построение Вашей карьеры. <br><span>Получайте:</span> Больше автономности в повседневной работе и больший контроль своего будущего в долгосрочной перспективе.
					.s-world-item
						.s-world-item__title Плечом к плечу
						.s-world-item__text 
							p Мы - компания, ориентированная на результат. Наша сила в многообразии высокопроизводительных и многонациональных команд, которые эффективно работают вместе над достижением единых организационных целей. Быть частью такой команды - это все равно что быть частью заботливой семьи. Вы можете быть уверены в том, что Ваш труд высоко ценится и получает признание, а рядом всегда будут те, кто окажут необходимую поддержку и помощь. Вы также сможете пользоваться преимуществами работы рядом с более опытными профессионалами, которые выступят в роли экспертов, наставников и дадут нужный совет.

							p <span>Отдавайте:</span> Решительность в достижении высокой производительности и готовность сделать все, что потребуется, для успеха команды. <br><span>Получайте:</span> Поощрение результатов Вашей работы и безоговорочная поддержка со стороны руководителей и коллег.
		<!-- END SECTION WORLD -->

		<!-- START SECTION VIDEO -->
		.section.s-video.section--medium-pt
			.container
				.title.title--centered.title--mb-medium Посмотрите видео о нас
				+video("gZ44SWcnXxk", "/images/video-bg.jpg")
		<!-- END SECTION VIDEO -->
	<!-- END CONTENT ABOUT -->

	<!-- START CONTENT MISSION -->
	.content.content__mission
		<!-- START SECTION BIG-SCREEN -->
		.section.s-big-screen.s-big-screen--mission
			.container 
				.s-big-screen__content 
					.s-big-screen__title Миссия, ценности, стратегия
					.s-big-screen__text 
						p Мировой лидер в металлургии и горнодобывающей промышленности
					.s-big-screen__btn.vacancy-btn Вакансии
		<!-- END SECTION BIG-SCREEN -->

		<!-- START SECTION PHILOSOPHY -->
		.section.s-philosophy.section--medium-pt 
			.container 
				.title Наша философия
				.s-philosophy__text 
					p Эти основные ценности компании «АрселорМиттал» определяют общую стратегию долгосрочного развития. Цель всех предприятий корпорации по всему миру производить безопасную экологичную сталь. Комфортная рабочая среда без производственных рисков для сотрудников и подрядчиков – вот что отражает обещание нашего бренда: <span>Изменяя будущее.</span>
				.s-philosophy__cards 
					+icon-card('helmet', 'Безопасность')
					+icon-card('stats', 'Устойчивое развитие')
					+icon-card('star', 'Качество')
					+icon-card('medal', 'Лидерство')
		<!-- END SECTION PHILOSOPHY -->
	<!-- END CONTENT MISSION -->

	<!-- START CONTENT CAREER -->
	.content.content__career
		<!-- START SECTION BIG-SCREEN -->
		.section.s-big-screen.s-big-screen--career
			.container 
				.s-big-screen__content 
					.s-big-screen__title Карьера и развитие
					.s-big-screen__text 
						p Широкие возможности для раскрытия собственного потенциала и карьерного роста
					.s-big-screen__btn.vacancy-btn Вакансии
		<!-- END SECTION BIG-SCREEN -->

		<!-- START SECTION UNIVERSITY -->
		.section.s-university.section--medium-pt 
			.container 
				.title.title--mb-short АрселлорМиттал Университет Кампус Казахстан
				.s-university__img-wrapper 
					img.s-university__img(src="images/university.jpg")
				.s-university__text 
					p Мы работаем в динамичном и быстро развивающемся мире. Поэтому сегодня на рынке труда наряду с профессиональными качествами специалистов ценится также любознательность, обучаемость, желание и способность работников адаптировать свои навыки, чтобы оставаться конкурентоспособными и востребованными. В АрселорМиттал возможность для профессионального и личностного роста работников не просто приятный бонус для сотрудников компании, а неотъемлемая составляющая любого рабочего процесса. Создание и поддержание такой культуры обучения — одна из функций нашего корпоративного Университета.
					p Тогда как АрселорМиттал является крупнейшим производителем стали по всему миру, наши предприятия в Казахстане также имеют не менее широкий географический охват. Обеспечивать доступ к передовым ресурсам обучения нам удается благодаря двум учебным центрам Кампуса. Наша учебно-материальная база в каждом из них позволяет обучать одновременно более 500 человек в день, а учебно-производственные участки в структурных подразделениях дают возможность работникам закреплять знания в реальных производственных условиях.
					p Наши программы позволяют работникам получить доступ к передовым возможностям для непрерывного обучения, раскрытия потенциала, обмена опытом, расширения сети деловых связей и контактов в компании и за ее пределами, стирая географические границы, культурные и языковые барьеры. С нами каждый работник может взять свое развитие и профессиональный рост в компании в свои руки.
		<!-- END SECTION UNIVERSITY -->

		<!-- START SECTION LEARN -->
		.section.s-learn.section--medium-pt 
			.container 
				+titled-image-box("images/titled-image-box/1.jpg", "Взаимодействие с учебными заведениями АО «АрселорМиттал Темиртау»")
					p В АрселорМиттал работают многонациональные команды и быть частью такой команды, словно быть частью одной семьи. Будучи социально-ориентированной компанией, мы заботимся о будущем поколении, предоставляя возможности для обучения, развития инженерно-конструкторского и творческого мышления детям наших работников, помогая растить будущих лидеров металлургии. Выделяемые компанией образовательные гранты поддерживают политику подготовки конкурентоспособных кадров на базе высших и средне-технических учебных заведений. Помимо этого, компания вносит большой вклад в развитие научного фонда, инвестируя в научно-исследовательскую деятельность в регионе и поддерживая открытие специализированных лабораторий. Производственная практика и обучение по нашей программе в тесном сотрудничестве с университетами и колледжами дает решительный старт и подготавливает квалифицированных будущих специалистов.
		<!-- END SECTION LEARN -->

		<!-- START SECTION LEARN -->
		.section.s-learn.section--medium-pt 
			.container 
				+titled-image-box("images/titled-image-box/2.jpg", "Программы для выпусников", true)
					p Здания. Транспорт. Бытовая техника. Технологические продукты. Все они сделаны из нашей стали. Мы гордимся тем, что мы делаем, потому что результаты нашего труда помогают миллионам людей. При этом в АрселорМиттал Темиртау мы стремимся создавать благоприятные условия, в которых молодые специалисты также могут присоединиться к команде талантливых профессионалов и внести свой вклад в развитие общества. Для этого в компании действуют программы по трудоустройству перспективных выпускников. Амбициозные, гибкие и нацеленные на достижение результата кандидаты получают безграничные возможности для освоения новых навыков и обучения у лучших экспертов индустрии, а также смогут реализовать свои способности в масштабных инновационных проектах.
		<!-- END SECTION LEARN -->

		<!-- START SECTION LEARN -->
		.section.s-learn.section--medium-pt 
			.container 
				+titled-image-box("images/titled-image-box/3.jpg", "Развитие молодых сотрудников")
					p АрселорМиттал — это мировой лидер металлургической промышленности. Нами движет дух предпринимательства и стремление к совершенству. В поиске инновационных решений для постоянного развития мы сталкиваемся с множеством вызовов ежедневно, которые создают новые возможности для работников проявлять инициативу и лидерские качества в достижении поставленных задач. Целеустремлённость и талант помогли многим преуспеть в этой сложной рабочей среде, расширив их карьерные горизонты. И в компании созданы для этого все условия: налажены процессы управления эффективностью персонала, идентификации и развития талантов, формирования кадрового резерва, а также действуют корпоративные проекты развития персонала. <br>Воспользовавшись возможностью участия в таких проектах, работники могут получить дополнительные знания и опыт, которые помогут им раскрыть их управленческий потенциал и начать новый этап карьеры в компании.
		<!-- END SECTION LEARN -->
	<!-- END CONTENT CAREER -->

	<!-- START CONTENT CORPO -->
	.content.content__corpo
		<!-- START SECTION BIG-SCREEN -->
		.section.s-big-screen.s-big-screen--corpo
			.container 
				.s-big-screen__content 
					.s-big-screen__title Корпоративная жизнь
					.s-big-screen__text 
						p Мировой лидер в металлургии и горнодобывающей промышленности
					.s-big-screen__btn.vacancy-btn Вакансии
		<!-- END SECTION BIG-SCREEN -->

		<!-- START SECTION GALLERY -->
		.section.s-gallery.section--medium-pt
			.title.title--centered.title--mb-medium СОЦИАЛЬНЫЕ ИНВЕСТИЦИИ КОМПАНИИ В РЕГИОНЕ ПРИСУТСТВИЯ
			.container
				.gallery-slider-content
					.swiper-container.gallery-slider
						.swiper-wrapper
							.swiper-slide
								.s-gallery__inner 
									.s-gallery__content
										.s-gallery__title Строительство и  передача на баланс государству:
										.s-gallery__text 
											p.s-gallery__p.s-gallery__p--mt 1.Поликлиники на 50 посещений
											p.s-gallery__p.s-gallery__p--mt 2.Физкультурно-оздоровительного комплекса на 320 мест
											p.s-gallery__p.s-gallery__p--mt В стадии реализации строительство детского сада.
											p.s-gallery__p.s-gallery__p--mt <span>ТЕКУЩИЙ СТАТУС:</span><br>Объявлен конкурс среди населения на лучшее архитектурное воплощение детского сада.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/1.png")
							.swiper-slide
								.s-gallery__inner 
									.s-gallery__content
										.s-gallery__title СОДЕРЖАНИЕ СОБСТВЕННЫХ СОЦИАЛЬНЫХ ОБЪЕКТОВ
										.s-gallery__text 
											p.s-gallery__p На балансе компании находятся следующие социальные объекты:
											p.s-gallery__p Детско-юношеский центр.
											p.s-gallery__p Спорткомплекс «Миттал».
											p.s-gallery__p Санаторий-профилакторий «Самал».
											p.s-gallery__p Казахский культурный центр.
											p.s-gallery__p Теннисный центр «Шахтер».
											p.s-gallery__p Детский лагерь «Романтик».
											p.s-gallery__p Детский лагерь «Факел».
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/2.png")
							.swiper-slide
								.s-gallery__inner
									.s-gallery__content
										.s-gallery__title МЕРОПРИЯТИЯ ПО РЕАЛИЗАЦИИ МЕМОРАНДУМОВ С АКИМАТОМ ОБЛАСТИ
										.s-gallery__text 
											p.s-gallery__p.s-gallery__p--bullets Меморандум о взаимном сотрудничестве с акиматом Карагандинской области о поддержке учебных заведений.
											p.s-gallery__p.s-gallery__p--bullets Меморандум о взаимном сотрудничестве с акиматом Карагандинской области о реконструкции парка культуры и отдыха в г. Шахтинске.
											p.s-gallery__p.s-gallery__p--mt <span>ОБЪЁМЫ РАБОТ:</span>
											p.s-gallery__p.s-gallery__p--bullets общая площадь — 4,181 га
											p.s-gallery__p.s-gallery__p--bullets озеленение — 206,1 м2
											p.s-gallery__p.s-gallery__p--bullets площадь асфальтового покрытия — 2339, 9 м2
											p.s-gallery__p.s-gallery__p--bullets общая площадь брусчатки — 5146,7 м2
											p.s-gallery__p.s-gallery__p--bullets доступная площадь под благоустройство — 1835,5 м2
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/3.png")
							.swiper-slide
								.s-gallery__inner
									.s-gallery__content
										.s-gallery__title МЕРОПРИЯТИЯ ПО РЕАЛИЗАЦИИ МЕМОРАНДУМОВ С АКИМАТОМ ОБЛАСТИ
										.s-gallery__text 
											p.s-gallery__p.s-gallery__p--bullets Оцинкованный профнастил для кровли многофункционального спортивного комплекса в г. Караганде.
											p.s-gallery__p.s-gallery__p--bullets Строительство санитарно-гигиенических сооружений, расположенных на дороге Темиртау — Нур-Султан.
											p.s-gallery__p.s-gallery__p--bullets Приобретение аппарата «ТОМАТИС» для детей с нарушением речи и слуха, позволяющий улучшать двигательные, эмоциональные и когнитивные способности через музыку и речь.
											p.s-gallery__p.s-gallery__p--bullets Электрооборудование для студентов Карагандинского политехнического колледжа.
											p.s-gallery__p.s-gallery__p--bullets В преддверии 30-летия Независимости Республики Казахстан компания подарила книги, посвященные Елбасы и 175-летию Абая Кунанбаева, библиотекам г. Темиртау в количестве более 1200 шт.
											p.s-gallery__p.s-gallery__p--bullets И многое др.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/4.png")
							.swiper-slide
								.s-gallery__inner
									.s-gallery__content
										.s-gallery__title ПОДДЕРЖКА СОЦИАЛЬНО УЯЗВИМЫХ СЛОЕВ НАСЕЛЕНИЯ
										.s-gallery__text 
											p.s-gallery__p В РАМКАХ ПРАЗДНОВАНИЯ НАУРЫЗ «МЕЙРАМЫ»
											p.s-gallery__p.s-gallery__p--bullets Приобретено постельное белье, игрушки, музыкальный центр и спортивный инвентарь для детских домов в Караганде, Шахтинске, Темиртау, Лисаковске и Каражале.
											p.s-gallery__p.s-gallery__p--bullets Приобретено постельное белье, одеяла и игрушки для Кризисного центра поддержки женщин, оказавшихся  в сложной жизненной ситуации.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/5.png")
							.swiper-slide
								.s-gallery__inner
									.s-gallery__content
										.s-gallery__title ПОДДЕРЖКА СОЦИАЛЬНО УЯЗВИМЫХ СЛОЕВ НАСЕЛЕНИЯ
										.s-gallery__text 
											p.s-gallery__p В РАМКАХ ПРАЗДНОВАНИЯ НАУРЫЗ «МЕЙРАМЫ»
											p.s-gallery__p.s-gallery__p--bullets Благотворительная помощь ветеранам ВОВ, блокадникам и узникам, труженикам и награжденным в г. Темиртау и г. Караганде.
											p.s-gallery__p.s-gallery__p--bullets Поздравление ветеранов Великой Отечественной войны на дому и вручение подарков, цветов и сертификатов на приобретение медикаментов.
											p.s-gallery__p.s-gallery__p--bullets Возложение цветов к памятнику «Неизвестному солдату» — дань памяти.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/6.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title ПОДДЕРЖКА СОЦИАЛЬНО УЯЗВИМЫХ СЛОЕВ НАСЕЛЕНИЯ
										.s-gallery__text
											p.s-gallery__p.s-gallery__p--mt <span>В РАМКАХ МЕЖДУНАРОДНОГО ДНЯ ЗАЩИТЫ ДЕТЕЙ</span>
											p.s-gallery__p.s-gallery__p--bullets Подарены игрушки для детей ясли-садика и инвалидная коляска для девочки с ДЦП в г. Шахтинске, игрушки и спортивный инвентарь для детей-сирот п. Осакаровка.
											p.s-gallery__p.s-gallery__p--bullets Оборудованы комнаты для особенных детей. Приобретены парты, гардеробы, учебные пособия, приобретено постельное белье, банные полотенца и игрушки для детей с диагнозом рак крови.
											p.s-gallery__p.s-gallery__p--bullets Оказана спонсорская помощь в организации мероприятий для детей г. Темиртау волонтерами ОО «ТМК», вручены подарочные сертификаты на покупку спортинвентаря, одежды и сладостей для детей угольного департамента на отдаленных участках, поселки Жон и Каракудук.
											p.s-gallery__p.s-gallery__p--mt <span class="semi-bold">ОХВАТ — 300 ЧЕЛОВЕК</span>
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/7.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title ПОДДЕРЖКА СОЦИАЛЬНО УЯЗВИМЫХ СЛОЕВ НАСЕЛЕНИЯ
										.s-gallery__text
											p.s-gallery__p.s-gallery__p--mt <span>В РАМКАХ МЕЖДУНАРОДНОГО ДНЯ ЗАЩИТЫ ДЕТЕЙ</span>
											p.s-gallery__p.s-gallery__p--bullets В РАМКАХ ДНЯ ЗНАНИЙ — 1 СЕНТЯБРЯ
											p.s-gallery__p.s-gallery__p--bullets В г. Темиртау приобретены канцтовары для детей ООРДИ «Жана Кун».
											p.s-gallery__p.s-gallery__p--bullets Подарены канцтовары, спортивные мячи, творческие наборы, рюкзаки и т. д. детям-сиротам и детям из малообеспеченных и многодетных семей в Осакаровке, Караганде и Темиртау.
											p.s-gallery__p.s-gallery__p--bullets Построена детская игровая площадка для особенных детей ТОО «Ясли-сад «Лесенка успеха» и для детей ближайшего района г. Шахтинска.
											p.s-gallery__p.s-gallery__p--bullets Приобретено оборудование с обучающим материалом «Монтессори» для Специальной школы-интерната №9 г. Сарани. Данный материал поможет учащимся улучшить память, внимание и развить моторику.
											p.s-gallery__p.s-gallery__p--mt <span class="semi-bold">ОХВАТ — 1 183 ЧЕЛОВЕК</span>
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/8.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title ПОДДЕРЖКА СОЦИАЛЬНО УЯЗВИМЫХ СЛОЕВ НАСЕЛЕНИЯ
										.s-gallery__text
											p.s-gallery__p.s-gallery__p--mt <span>В РАМКАХ ДНЯ ПОЖИЛЫХ ЛЮДЕЙ — 1 ОКТЯБРЯ</span>
											p.s-gallery__p.s-gallery__p--bullets Дом престарелых в г. Темиртау – входные ворота, стиральная машина, ванна.
											p.s-gallery__p.s-gallery__p--bullets Дом престарелых в Шахане – уличная спортивная площадка: искусственное зеленое покрытие, спортивный инвентарь, качели, беседка, и др.
											p.s-gallery__p.s-gallery__p--bullets Пансионат для пожилых людей и инвалидов в г. Караганда – пандус для инвалидных колясок, беседка, скамейки и столы, искусственное зленое покрытие​.
											p.s-gallery__p.s-gallery__p--bullets Дом-интернат престарелых и инвалидов в г. Караганда – 2 беседки и посудомоечная машина.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/9.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title ПОДДЕРЖКА СОЦИАЛЬНО УЯЗВИМЫХ СЛОЕВ НАСЕЛЕНИЯ
										.s-gallery__text
											p.s-gallery__p.s-gallery__p--mt <span>В РАМКАХ МЕЖДУНАРОДНОГО ДНЯ ЗАЩИТЫ ДЕТЕЙ</span>
											p.s-gallery__p.s-gallery__p--bullets В РАМКАХ ДНЯ ЗНАНИЙ — 1 СЕНТЯБРЯ
											p.s-gallery__p.s-gallery__p--bullets В г. Темиртау приобретены канцтовары для детей ООРДИ «Жана Кун».
											p.s-gallery__p.s-gallery__p--bullets Подарены канцтовары, спортивные мячи, творческие наборы, рюкзаки и т. д. детям-сиротам и детям из малообеспеченных и многодетных семей в Осакаровке, Караганде и Темиртау.
											p.s-gallery__p.s-gallery__p--bullets Построена детская игровая площадка для особенных детей ТОО «Ясли-сад «Лесенка успеха» и для детей ближайшего района г. Шахтинска.
											p.s-gallery__p.s-gallery__p--bullets Приобретено оборудование с обучающим материалом «Монтессори» для Специальной школы-интерната №9 г. Сарани. Данный материал поможет учащимся улучшить память, внимание и развить моторику.
											p.s-gallery__p.s-gallery__p--mt <span class="semi-bold">ОХВАТ — 1 183 ЧЕЛОВЕК</span>
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/10.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title ФИНАНСОВАЯ И МАТЕРИАЛЬНО-ТЕХНИЧЕСКАЯ ПОДДЕРЖКА МЕДУЧРЕЖДЕНИЙ
										.s-gallery__text
											p.s-gallery__p.s-gallery__p--bullets Создание на базе санатория «Самал» карантинного госпиталя для жителей Карагандинской области. Содержание госпиталя за счет средств компании.
											p.s-gallery__p.s-gallery__p--bullets Закуп 200 кислородных концентраторов.
											p.s-gallery__p.s-gallery__p--bullets Закуп и монтаж специальных перегородок для больницы с целью создания дополнительного инфекционного отделения на 250 мест.
											p.s-gallery__p.s-gallery__p--bullets В рамках проекта «Дом врачей» приобретение мебели для новых квартир медицинских работников.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/11.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title КАМПАНИЯ ВАКЦИНАЦИИ
										.s-gallery__text 
											p.s-gallery__p.s-gallery__p--bullets 93% сотрудников компании вакцинированы.
											p.s-gallery__p.s-gallery__p--bullets Проведена активная информационная  кампания по пропаганде вакцинации.
											p.s-gallery__p.s-gallery__p--bullets Выплачены единовременные дополнительные премии для вакцинированных работников.
											p.s-gallery__p.s-gallery__p--bullets Проведены розыгрыши автомобилей и сертификатов на бытовую технику среди вакцинированных работников компании.
									.s-gallery__img-wrapper
										img.s-gallery__img.s-gallery__img--index(src="images/gallery-new/12.png")
							.swiper-slide
								.s-gallery__inner.s-gallery__inner--ais
									.s-gallery__content
										.s-gallery__title КАМПАНИЯ ВАКЦИНАЦИИ
										.s-gallery__text
											p.s-gallery__p.s-gallery__p--bullets Проведена закупка за счет средств компании для всех медицинских учреждений Карагандинской области оборудования для хранения и транспортировки вакцин Pfizer/BioNTech.
									.s-gallery__img-wrapper 
										img.s-gallery__img(src="images/gallery-new/13.png")
			.slider-arrows.gallery-slider-arrows
				.slider-arrow.slider-arrow--prev.gallery-slider-arrow-prev
					+icon("arrow-left", "slider-arrow__icon")
				.slider-arrow.slider-arrow--next.gallery-slider-arrow-next
					+icon("arrow-right", "slider-arrow__icon")
		<!-- END SECTION GALLERY -->
	<!-- END CONTENT CORPO -->

	<!-- START CONTENT STEEL -->
	.content.content__steel
		<!-- START SECTION FIRST-SCREEN -->
		.section.s-first-screen.s-first-screen--steel
			.container 
				.s-first-screen__nav-wrapper 
					.s-first-screen__nav О компании
					.s-first-screen__nav Стальной департамент
				.s-first-screen__title Стальной департамент
		<!-- END SECTION FIRST-SCREEN -->

		<!-- START SECTION TABS -->
		.section.s-tabs
			.container
				.s-tabs__inner 
					.s-tabs__link.content-tab--active(href="#steel") Стальной департамент
					.s-tabs__link.content-tab(href="#coal") Угольный департамент
					.s-tabs__link.content-tab(href="#iron") Железорудный департамент
		<!-- END SECTION TABS -->

		<!-- START SECTION STEEL -->
		.section.s-steel 
			.container
				.steel__title.title Структура департамента
				.steel__text 
					p Сегодня в составе металлургического комбината АО «АрселорМиттал Темиртау»: 
				.steel__items
					.steel__items-one 
						.steel__item Коксохимическое производство
						.steel__item Аглодоменное производство
						.steel__item Сталеплавильное производство
						.steel__item Прокатное производство
						.steel__item Ремонтно-монтажный завод
						.steel__item Отдел главного энергетика
						.steel__item Транспортное управление
						.steel__item Служба снабжения
						.steel__item Служба маркетинга
					.steel__items-two 
						.steel__item Отдел охраны природы
						.steel__item Отдел охраны труда и промышленной безопасности
						.steel__item Единый финансовый центр
						.steel__item Главный вычислительный информационный центр
						.steel__item Управление по проектам
						.steel__item PR служба
						.steel__item Технический отдел
						.steel__item Юридический отдел
						.steel__item Управление по безопасности
		<!-- END SECTION STEEL -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.s-production--first 
			.container 
				+titled-image-card('Коксохимическое производство', 'images/titled-image-card/1.jpg')
					p Коксохимическое производство в составе шести коксовых батарей производственной мощностью 3,5 млн. тонн кокса в год. <br>Сырьем коксохимического производства служат коксующиеся угли Карагандинского угольного бассейна<span class="dots">...</span><span class="more">. <br><span class="bold">В состав КХП также входят:</span> <br>- Цеха химического улавливания <br>- Коксовый цех При коксовании образуется основной продукт - кокс и сопутствующие - газ и смола, которые поступают в цех химулавливания, ректификации, смолоперегонный цехи, где получают сопутствующие химические продукты.</span>
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt 
			.container 
				+titled-image-card('Аглодоменное производство', 'images/titled-image-card/2.jpg')
					p Проектная мощность аглопроизводства — 6 млн. тонн в год. Включает в себя дробильно-сортировочную фабрику с усреднительными складами, участки подготовки шихтовых материалов и шламов, аглофабрику, доменный цех и шлакоперерабатывающий участок. Дробильно-сортировочная фабрика<span class="dots">...</span><span class="more">. обеспечивает прием, дробление, складирование и усреднение материалов, предназначенных для производства агломерата. Три агломерационных машины с общей площадью спекания 1008 кв.м. производят агломерат для потребностей доменного цеха. В качестве сырья используются руды и концентраты ТОО «Оркен», а также концентрат и окатыши АО «ССГПО». В качестве флюсов - покупные известняк, доломит и известь собственного производства.<br><span class="bold">Доменный цех</span> выплавляет передельный и литейный чугуны для конверторного и фасонно- литейного цехов. В состав доменного цеха входят четыре печи объемом ДП1 - 1719м3, ДП2 – 2291м3, ДП3 – 3200м3, ДП4 - 3200м3. ДП-2 представляет собой агрегат нового поколения по уровню технической оснащенности, надежности и влиянию на окружающую среду. Реконструкция доменной печи явилась одним из самых масштабных и дорогостоящих инвестиционных проектов «АрселорМиттал Темиртау». Проектная мощность печи составляет 1,3 млн. тонн чугуна в год. В результате реконструкции объем печи увеличен на 300 кубических метров, а ее производительность – на 15%. Кроме того, сама печь после капремонта соответствует европейскому уровню. Уникальность проекта - в установке современного оборудования на всех участках печи, использовании комплектующих в основном западного производства. Проектная документация разработана фирмой «PAUL WURTH», являющейся частью компании «АрселорМиттал», совместно с проектно-конструкторским отделом металлургического комбината. Установлен новый бесконусный засыпной аппарат, от которого зависит как долговечность работы доменной печи, так и ее производительность, а также расход кокса. Кроме того, в ходе реконструкции были построены новые воздухонагреватели системы Калугина. Они позволяют удерживать температуру дутья на уровне 1230 градусов. Аналогичные воздухонагреватели уже установлены на лучших металлургических предприятиях мира, в том числе и на заводах компании «АрселорМиттал». В общей сложности это примерно 230 устройств. Были смонтированы два электрофильтра нового поколения, предназначенные для очистки отходящих газов от бункерной эстакады и литейного двора. Два каупера конструкции Калугина обеспечивают температуру дутья 1250 градусов. Плоский литейный двор позволяет обеспечить безопасность и улучшить условия труда горновых на рабочей площадке. Для вскрытия и забивки чугунных леток установлены малогабаритные машины новой конструкции. Желоба, по которым идут чугун и шлак, укрыты, а отходящие газы улавливаются, очищаются и только потом выбрасываются в атмосферу. Избыточный доменный газ теперь будет служить для выработки пара на новой котельной. Для получения чугуна используются современные технологии доменной плавки. 
					</span>
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt 
			.container 
				+titled-image-card('Сталеплавильное производство', 'images/titled-image-card/3.jpg')
					p В состав сталеплавильного производства входят кислородно-конвертерный цех и 3 линии МНЛЗ (машина непрерывного литья заготовок). Машина непрерывного литья заготовок — МНЛЗ-3 предназначена для производства сортовой заготовки размерами 130 на 130 и 150 на 150 миллиметров<span class="dots">...</span><span class="more">. на территории действующего конвертерного цеха. Производительность машины рассчитана на 1,2 млн. тонн заготовок в год, что обеспечит потребности сортопрокатного цеха. МНЛЗ-3 была полностью адаптирована под имеющийся цех. Конверторный цех имеет три кислородных конвертора емкостью 300 тонн и два миксера по 2000 тонн, две установки печь-ковш, 2 радиальные машины непрерывного литья заготовок, каждая мощностью 2,6 млн.тонн слябов в год. При производстве конверторной стали из фосфористого чугуна применяется комплекс современных способов выплавки металла.</span>
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt 
			.container 
				.titled-image-card
					.titled-image-card__title.title Прокатное производство
					.titled-image-card__img-wrapper 
						img.titled-image-card__img(src="images/titled-image-card/4.jpg")
					.titled-image-card__text 
						p В состав прокатного производства входят цех горячего проката, два цеха холодного проката и цех горячего цинкования и алюминирования, линия полимерных покрытий
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt 
			.container 
				+titled-image-card('Единое ремонтно-монтажное управление', 'images/titled-image-card/5.jpg')
					p Единое ремонтно-монтажное управление является самостоятельным структурным подразделением управления АО «АрселорМиттал Темиртау» и находится в непосредственном подчинении директора по ремонтам<span class="dots">...</span><span class="more">. <br><span class="bold">Основной целью ЕРМУ является:</span> -обеспечение надежной работы механического оборудования подразделений АО «АрселорМиттал Темиртау», необходимой для выпуска конкурентоспособной продукции при наименьших затратах трудовых, материальных и финансовых ресурсов. В ЕРМУ планируются: -текущие и капитальные ремонты оборудования и агрегатов; -количество полуфабрикатов, запчастей и сменного оборудования, необходимое для обеспечения работоспособности оборудования подразделений АО «АрселорМиттал Темиртау»; -производство ремонтных работ, необходимое для обеспечения работоспособности оборудования подразделений АО «АрселорМиттал Темиртау»; -производство металла на ремонтно-эксплуатационные нужды подразделений АО «АрселорМиттал Темиртау». ЕРМУ разрабатывает графики планово-предупредительных ремонтов основных агрегатов и оборудования и корректирует установленные сроки ремонтов в связи с производственной необходимостью. </span>
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt 
			.container 
				+titled-image-card('Отдел главного энергетика', 'images/titled-image-card/6.jpg')
					p В состав отдела главного энергетика входят: <br>-ТЭЦ-ПВС<span class="dots">...</span><span class="more">; -ТЭЦ-2; <br>-Паросиловой цех (ПСЦ); <br>-Кислородный цех; <br>-Газовый цех; <br>-Цех водоснабжения (ЦВС); <br>-Цех гидротехнических сооружений и гидротранспорта (ГТСиГ); <br>-Цех очистных сооружений (ЦОС); <br>-Цех ремонта энергооборудования металлургических цехов (ЭнРЦ); <br>-Цех ремонта электрооборудования металлургических цехов (ЦРЭМЦ); <br>-Электроремонтный цех (ЭРЦ); <br>-Цех сетей и подстанций (ЦСП); <br>-Цех технологической диспетчеризации (ЦТД); <br>-Цех вентиляции; -Центральная заводская электротехническая лаборатория (ЦЗ ЭТЛ); <br>-Центральная теплотехническая лаборатория (ЦТТЛ); <br>ТЭЦ-ПВС - обеспечение цехов комбината электрической и тепловой энергией, доменным дутьём, химочищенной водой. Установленная мощность ТЭЦ-ПВС - 192 МВт/ч. <br><span class="bold">ТЭЦ-2</span> - обеспечение цехов электрической и тепловой энергией, химически очищенной и обессоленной водой. Кроме этого ТЭЦ-2 обеспечивает теплом и электроэнергией город Темиртау. Установленная мощность ТЭЦ-2 - 435 МВт/ч. <br><span class="bold">Паросиловой цех</span> предназначен для обеспечения цехов и производств комбината энергоносителями ( пар, сжатый воздух, химочищенная вода) различных параметров. <br><span class="bold">Кислородный цех</span> обеспечивает производство продуктами разделения воздуха (кислородом, азотом, аргоном), а также вырабатывает цехам-потребителям сырой и осушенный сжатый воздух. Возможность по производству кислорода составляет 144 тысячи кубических метров в час. </span>
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt 
			.container 
				+titled-image-card('Транспортное управление', 'images/titled-image-card/7.jpg')
					p Транспортные службы включают в себя: <br>-отдел транспортной логистики, грузовой и коммерческой работы<span class="dots">...</span><span class="more">; <br>-организация внешних перевозок, грузовой и коммерческой работы; <br>-автотранспортный цех, который обеспечивает производственный цикл комбината автомобильными перевозками, обеспечивает перевозку персонала комбината, текущий ремонт и техническое обслуживание автотранспорта и ДСТ, <br>-управление железнодорожного транспорта. <br><span class="bold">В УЖДТ входят:</span> <br>-Цех по текущему содержанию и ремонту пути, который производит тех.обслуживание и ремонт ж/д путей, зданий и сооружений, эксплуатацию путевой и снегоуборочной техники. <br>-Цех подвижного состава осуществляет текущий ремонт и обслуживание локомотивов, вагонов в специализированных депо и на станциях. <br>-Цех эксплуатации организует внутренние, в том числе технологические, перевозки грузов, а также погрузочно-выгрузочные операции на грузовых фронтах цехов и производств.</span>
		<!-- END SECTION PRODUCTION -->
	<!-- END CONTENT STEEL -->

	<!-- START CONTENT COAL -->
	.content.content__coal
		<!-- START SECTION FIRST-SCREEN -->
		.section.s-first-screen.s-first-screen--coal
			.container 
				.s-first-screen__nav-wrapper 
					.s-first-screen__nav О компании
					.s-first-screen__nav Угольный департамент
				.s-first-screen__title Угольный департамент
		<!-- END SECTION FIRST-SCREEN -->

		<!-- START SECTION TABS -->
		.section.s-tabs
			.container
				.s-tabs__inner 
					.s-tabs__link.content-tab(href="#steel") Стальной департамент
					.s-tabs__link.content-tab--active(href="#coal") Угольный департамент
					.s-tabs__link.content-tab(href="#iron") Железорудный департамент
		<!-- END SECTION TABS -->

		<!-- START SECTION COAL -->
		.section.s-coal 
			.container 
				.coal__inner 
					.coal__img-wrapper 
						img.coal__img(src="images/coal.jpg")
					.coal__content 
						.coal__title.title О департаменте
						.coal__text 
							p Угольный департамент был создан в июне 1996 года и располагал мощностями по добыче более 7 млн.т. коксующихся углей в год. На шахтах угольного департамента осуществляется добыча пластовых полезных ископаемых подземным способом. 
		<!-- END SECTION COAL -->

		<!-- START SECTION STEEL -->
		.section.s-steel-coal 
			.container
				.steel__title.title Структура департамента
				.steel__text 
					p Сегодня в составе угольного комбината АО «АрселорМиттал Темиртау»: 
				.steel__items
					.steel__items-one 
						.steel__item Горно-обогатительная фабрика «ЦОФ Восточная»
						.steel__item Шахта «Абайская»
						.steel__item Шахта «Саранская»
						.steel__item Шахта «Казахстанская»
						.steel__item Шахта «Шахтинская»
						.steel__item Шахта «Тентекская»
						.steel__item Шахта им. Костенко
						.steel__item Шахта им. Ленина
						.steel__item Шахта им. Кузембаева
						.steel__item Завод «Горные машины»
						.steel__item Завод РГТО
					.steel__items-two 
						.steel__item Завод НОММ
						.steel__item Специализированное шахтомонтажно-наладочное предприятие «Углесервис»
						.steel__item Управление "Спецшахтомонтаждегазация»
						.steel__item Управление технологического транспорта;
						.steel__item Управление шахтостроительных и ремонтных работ
						.steel__item Производственное управление «Энергоуголь»
						.steel__item Карагандинский Угольный Энергозавод
						.steel__item Карагандинское строительно-монтажное управление
						.steel__item «Шахтоосушение»
						.steel__item Карагандинское погрузочно-транспортное управление.
		<!-- END SECTION STEEL -->

		<!-- START SECTION TEMIRTAU -->
		.section.s-temirtau.section--long-pt 
			.container 
				.title.title--centered.s-temirtau__title В состав Угольного департамента АО «АрселорМиттал Темиртау» входят:
				.swiper-container.temirtau-slider
					.swiper-wrapper
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Горно-обогатительная фабрика «ЦОФ Восточная»
									.s-temirtau__text 
										p Центральная обогатительная фабрика «Восточная» сдана в эксплуатацию в 1980 году с проектной мощностью 6 миллионов тонн рядовых углей в год и является крупнейшим углеперерабатывающим предприятием Республики Казахстан. В настоящее время фабрика перерабатывает труднообогатимые угли марок КЖ, К и КО, добываемые на шахтах УД АО «АрселорМиттал Темиртау». Конечными продуктами обогащения являются: концентрат, поставки которого осуществляются на Украину, и промпродукт, направляемый на собственные нужды АО «АрселорМиттал Темиртау» (ТЭЦ). За время работы фабрикой переработано более 123 млн. тонн рядовых углей и выпущено 63,3 млн. тонн коксового концентрата. 
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта «Абайская»
									.s-temirtau__text 
										p Шахта «Абайская» (ранее шахта им.Калинина) сдана в эксплуатацию в 1961 году. Как производственная единица шахта «Абайская» создана в 1998 году путем объединения двух шахт: шахты имени Калинина и шахты «Абайская». <br>Добываемые марки угля – К, ОС.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта «Саранская»
									.s-temirtau__text 
										p Шахта «Саранская» сдана в эксплуатацию в 1955 году. Проектная мощность шахты составляет 1,8 млн.т. угля в год. <br>Добываемые марки угля – КР.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта «Казахстанская»
									.s-temirtau__text 
										p Шахта «Казахстанская» сдана в эксплуатацию в июне 1969 году.<br>Добываемые марки угля – КЖ, 1К.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта «Шахтинская»
									.s-temirtau__text 
										p Шахта «Шахтинская» сдана в эксплуатацию в 1973 году с проектной мощностью 1,8 млн.т. угля в год.<br>Добываемые марки угля – Ж, КО, КЖ.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта «Тентекская»
									.s-temirtau__text 
										p Шахта «Тентекская» сдана в эксплуатацию в 1979 году с проектной мощностью 4 млн.т. угля в год.<br>Добываемые марки угля – КЖ, К, Ж.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта им. В.И.Ленина
									.s-temirtau__text 
										p Шахта им. В.И.Ленина сдана в эксплуатацию в 1964 году. В 1968 году была объединена с шахтой 1/2 "Наклонная". Суммарная мощность шахты составила 2,1 млн.т. угля в год.<br>Добываемые марки угля – КЖ.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
						.swiper-slide
							.s-temirtau__inner 
								.s-temirtau__content
									.s-temirtau__title-mini.title Шахта им. Кузембаева
									.s-temirtau__text 
										p Шахта имени Тусупа Кузембаева введена в эксплуатацию в 1959 году. В 1998 году она была объединена с шахтой им.50 лет СССР. Проектная мощность шахты составляет 1,6 млн.т. угля в год.<br>Добываемые марки угля – К.
								.s-temirtau__img-wrapper 
									img.s-temirtau__img(src="images/temirtau.jpg")
				.slider-arrows.gallery-slider-arrows
					.slider-arrow.slider-arrow--prev.temirtau-slider-arrow-prev
						+icon("arrow-left", "slider-arrow__icon")
					.slider-arrow.slider-arrow--next.temirtau-slider-arrow-next
						+icon("arrow-right", "slider-arrow__icon")
		<!-- END SECTION TEMIRTAU -->

		//- <!-- START SECTION TERRITORY -->
		//- .section.s-territory.section--long-pt 
		//- 	.container
		//- 		.title.title--mb-short Вспомогательные предприятия поверхности, расположенные на территории Карагандинской области (г.Караганда, г.Сарань, г.Абай, г.Шахтинск) 
		//- 		.s-territory__img-wrapper 
		//- 			img.s-territory__img(src="images/territory.jpg")
		//- 		.steel__items
		//- 			.steel__items-one 
		//- 				.steel__item Завод «Горные машины»;
		//- 				.steel__item Завод РГТО;
		//- 				.steel__item Завод НОММ;
		//- 				.steel__item Специализированное шахтомонтажно-наладочное предприятие «Углесервис»;
		//- 				.steel__item Управление «Спецшахтомонтаждегазация»;
		//- 				.steel__item Управление технологического транспорта;
		//- 			.steel__items-two 
		//- 				.steel__item Управление шахтостроительных и ремонтных работ;
		//- 				.steel__item Производственное управление «Энергоуголь»;
		//- 				.steel__item Карагандинский Угольный Энергозавод;
		//- 				.steel__item Карагандинское строительно-монтажное управление «Шахтоосушение»;
		//- 				.steel__item Карагандинское погрузочно-транспортное управление.
		//- <!-- END SECTION TERRITORY -->
	<!-- END CONTENT COAL -->

	<!-- START CONTENT IRON -->
	.content.content__iron
		<!-- START SECTION FIRST-SCREEN -->
		.section.s-first-screen.s-first-screen--iron
			.container 
				.s-first-screen__nav-wrapper 
					.s-first-screen__nav О компании
					.s-first-screen__nav Железорудный департамент
				.s-first-screen__title Железорудный департамент
		<!-- END SECTION FIRST-SCREEN -->
		
		<!-- START SECTION TABS -->
		.section.s-tabs
			.container
				.s-tabs__inner 
					.s-tabs__link.content-tab(href="#steel") Стальной департамент
					.s-tabs__link.content-tab(href="#coal") Угольный департамент
					.s-tabs__link.content-tab--active(href="#iron") Железорудный департамент
		<!-- END SECTION TABS -->

		<!-- START SECTION IRON -->
		.section.s-iron 
			.container 
				.iron__inner 
					.iron__content 
						.iron__title.title Железорудный департамент (ТОО «Оркен»)
						.iron__text
							p Железорудный департамент (ТОО «Оркен») представляет собой комплекс из четырёх предприятий Казахстана: Лисаковского филиала ТОО «Оркен» (Костанайская область), представительства «Оркен-Кентобе» ТОО «Оркен» (Карагандинская область), представительства «Оркен-Атансор» ТОО «Оркен» (Акмолинская область), представительства «Оркен-Атасу» ТОО «Оркен» (Карагандинская область). Основная деятельность — добыча, переработка и обогащение железной руды месторождений Лисаковск, Кентобе, Атасу, Атансор и последующая поставка готовой продукции, железорудного концентрата, основному потребителю — АО «АрселорМиттал Темиртау».
					.iron__img-wrapper 
						img.iron__img(src="images/iron.jpg")
		<!-- END SECTION IRON -->

		<!-- START SECTION STEEL -->
		.section.s-steel-iron.section--medium-pb 
			.container
				.steel__title.title Структура департамента
				.steel__text 
					p Сегодня в составе железорудного комбината АО «АрселорМиттал Темиртау»: 
				.steel__items
					.steel__items-one 
						.steel__item Лисаковский филиал ТОО «Оркен»
						.steel__item Представительство «Оркен-Кентобе» ТОО «Оркен»
					.steel__items-two 
						.steel__item Представительство «Оркен-Атасу» ТОО «Оркен»
						.steel__item Представительство «Оркен-Атансор» ТОО «Оркен» 
		<!-- END SECTION STEEL -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.s-production--first.section--medium-pt 
			.container 
				+titled-image-card('Лисаковский филиал ТОО «Оркен»', 'images/titled-image-card/8.jpg')
					p Лисаковский филиал ТОО «Оркен» – одно из четырёх подразделений железорудного департамента (ТОО «Оркен»). Его история началась с момента открытия в 1949 году Лисаковского месторождения бурожелезняковых оолитовых руд. Характерной особенностью месторождения является то, что руда<span class="dots">...</span><span class="more"> располагалась практически на поверхности. Такое расположение рудного тела позволяет с незначительными капитальными и эксплуатационными затратами эффективно и экономично разрабатывать месторождение с применением современной высокопроизводительной горнотранспортной техники. <br>Общие геологические запасы оолитовых руд составляют 6 млрд. тонн, по контракту недропользования – 1 млрд. тонн. Месторождение представляет собой платообразную залежь, вытянутую по простиранию на 100 км и шириной от нескольких сот метров до 6 км. <br><span class="mt">Горнокапитальные работы начаты в 1969 году. Первая отгрузка необогащенной руды произведена в 1971 году. Институтом "Механобр" г. Ленинграда и рядом других исследовательских и промышленных предприятий были выполнены работы по разработке и выбору технологии обогащения лисаковской руды. По результатам технико-экономических расчетов было принято решение о вводе мощностей по гравитационно-магнитной схеме. Первую секцию ввели в 1972 году, вторую - в 1973 году, третью - в 1974 году.</span> <br><span class="mt">За время работы предприятия сменилось несколько поколений работников. Менялись исторические условия, названия, формы собственности предприятия. Неизменным осталось только одно – коллектив всегда достойно справлялся со всеми поставленными задачами, какими бы сложными и ответственными они ни были. В составе ТОО «Оркен» Лисаковский филиал начал свою деятельность с 1 марта 2000 года. Предприятие является правопреемником Лисаковского горно-обогатительного комбината.</span> <br><span class="mt">В активе Лисаковского филиала ТОО «Оркен» рудник, железнодорожный цех, фабрика гравитационно-магнитного обогащения по переработке исходной руды с получением железорудного концентрата, центральная лаборатория, автотранспортный и ремонтно-механический цехи, участок технологической диспетчеризации и связи, энергоцех, участки подготовки производства, питания и управление. Сегодня ЛФ ТОО «Оркен» является одним из основных предприятий города Лисаковска. В разное время коллектив Лисаковского филиала ТОО «Оркен» решал сложные задачи по обеспечению жизнедеятельности предприятия. С 1975 по 1992 годы на Лисаковском ГОКе работала опытно-промышленная установка по обжиг-магнитному обогащению с использованием в качестве теплового агрегата печи ступенчато взвешенного слоя (СВС – 1,0). Проектная производительность установки по сырой руде - 1 млн. тонн в год. Часть концентрата была использована для проведения крупных промышленных испытаний окускованного обжиг-магнитного концентрата в современных доменных печах в виде агломерата, безобжиговых окатышей, безобжиговых рудофлюсоугольных окатышей и обжиговых окатышей в период с 1981 по 1985 годы.</span> <br><span class="mt">Лисаковский концентрат гравитационно-магнитного обогащения имеет невысокие потребительские свойства из-за повышенного содержания фосфора. В связи с этим АОЗТ "Механобр инжиниринг" была предложена новая технология обесфосфоривания и повышения металлургического качества концентрата. С 2004 года в Лисаковском филиале были начаты работы по строительству отделения удаления вредных примесей и монтажу технологического оборудования. С 2012 года работы на участке приостановлены до достижения проектных результатов подрядными организациями на опытно-промышленной установке с полной отработкой технологического процесса.</span> <br><span class="mt">Сегодня перед горняками Лисаковского филиала ТОО «Оркен» стоит новая цель – ввод в эксплуатацию участка № 5, на котором сосредоточено 68,6 млн. тонн руды 1 типа. Всего с начала эксплуатации карьера и работы фабрики гравитационно-магнитного обогащения добыто 240 820 тыс. тонн руды. Коллектив предприятия трудится с полной отдачей, так как понимает всю важность ввода участка, который позволит устранить дефицит руды 1 типа и, как следствие, не допустить снижения производства.</span> 
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt
			.container 
				+titled-image-card('Представительство «Оркен-Кентобе» ТОО «Оркен»', 'images/titled-image-card/9.jpg')
					p Месторождение железных руд Кентобе расположено в Каркаралинском районе Карагандинской области. Общие геологические запасы составляют 131,6 млн. тонн, из них для открытых работ – 22,6 млн. тонн. Месторождение открыто в 1949 году. В 1950 – 1980 годах велась его разведка. А с 1983 года<span class="dots">...</span><span class="more">началась непосредственная эксплуатация. Протяженность месторождения – 2,5 км. Ширина месторождения – 300 м. Проектная мощность предприятия в год составляет 2,5 млн. тонн по сырой руде, 2,1 млн. тонн железорудного концентрата. Разработка месторождения ведётся открытым способом по проекту, созданному АО «Институт Уралгипроруда» (г. Екатеринбург). <br>Рудник Кентобе – легкообогатимое сырьё с хорошими магнитными свойствами. С 16 февраля 2001 предприятие входит в состав железорудного департамента АО "АрселорМиттал Темиртау". В его состав вошли: горный и дробильный участки, железнодорожный и автотранспортный цехи, отдел технического контроля, энергоучасток, административный персонал. Работа ведётся вахтовым методом. <br>Применяемая система разработки месторождения Кентобе и– транспортная с внешним отвалообразованием. Скальную вскрышу и руду разрабатывают с предварительным проведением буровзрывных работ. На погрузке горной массы используются экскаваторы типа прямая лопата ЭКГ-5А с объёмом ковша 5,0 м3, KOMATSU PC1250 прямая лопата с ковшом 5,5 м3, а также CAT-385 с ковшом типа обратная лопата 5,0 м3. На бурении скважин задействованы станки шарошечного бурения СБШ-250 МН. Основным видом транспорта для перевозки руды и пород вскрыши является автомобильный: БелАЗ-7523, KOMATSU HD-465 и CAT -773E, а также автотранспорт подрядных организаций. <br>Добытая руда транспортируется на дробильно-обогатительную фабрику. На комплексах крупного, среднего и мелкого дробления руда дробится, а затем подвергается сухой магнитной сепарации, то есть на дробильно-обогатительной фабрике осуществляется процесс обогащения – это отделение породы от железной руды. Дозировка вагонов до нормы грузоподъёмности, их взвешивание и осмотр происходит в железнодорожном цехе. Здесь, обогащенный железорудный концентрат с содержанием железа 55-56%, отгружается и отправляется по железной дороге в стальной департамент АО «АрселорМиттал Темиртау». 
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt
			.container 
				+titled-image-card('Представительство «Оркен-Атасу» ТОО «Оркен»', 'images/titled-image-card/10.jpg')
					p Представительство «Оркен-Атасу» ТОО «Оркен» вошло в состав железорудного департамента 6 января 2003 года. Основной деятельностью является добыча, переработка и обогащение железной руды месторождения «Западный Каражал» и последующая поставка готовой продукции<span class="dots">...</span><span class="more">, железорудного концентрата, основному потребителю – АО "АрселорМиттал Темиртау". <br>Месторождение «Западный Каражал» находится в Жанааркинском районе Карагандинской области в 350 км. к юго-западу от г. Темиртау. Открыто в 1932 году геологом И.Г. Николаевым и изучалось в течение нескольких этапов до 1985 года. После шестилетнего перерыва разведочные работы возобновились в 1939 – 1941 гг. С этой поры разведка проводилась практически непрерывно до 1967 года. <br>Месторождение располагается в пределах крыла Жаильминской мульды и простирается с запада на восток на 5500 м. с южным падением под углом 350 . Рудная залежь, слагающая месторождение, представляет собой согласное оруденение в виде пластов железных и марганцевых руд мощностью по железным рудам (2,0 – 20,6м), по марганцевым рудам (2-8м) с раздувами до 30м. Рудная залежь прослежена на глубину до 1720м, с погружением на запад, под углом (10-150). <br>Месторождение условно разделено на три шахтных поля: I - 64м, II - 46м, III - 24м. Суммарная мощность рудной толщи в среднем составляет 44м. <br>По минералогическому составу железные руды месторождения Западный Каражал представляют собой смесь основных рудных минералов гематита и магнетита с переменным количеством кварца и кальцита. Второстепенными минералами являются сидерит, железистые хлориты, стильпномелан, пирит. По преобладанию минералов железа выделяются гематитовые, магнетит-гематитовые и магнетитовые природные типы руд. По преобладанию основных рудных минералов среди марганцевых руд выделяются браунитовые, гаусманитовые, якобситовые и гематит-браунитовые руды. <br>Среднее содержание главных химических компонентов (железа и марганца) в балансовых рудах Западного Каражала составляет соответственно: железные руды – 51,06 и 1,03 %; марганцевые руды – 9,28 и 20,04 %. И в железных и в марганцевых рудах содержание таких вредных компонентов, как мышьяк и пятиокись фосфора, низкое (соответственно 0,01– 0,02 % и 0,04 – 0,09 %). Коэффициент основности железных руд низкий (0,14 – 0,18), поэтому при металлургическом переделе железные руды требуют офлюсования. <br>Содержание серы в марганцевых рудах низкое — 0,05–0,06 %, мышьяка — 0,01–0,02 %. Относительно повышены содержания свинца (до 1,92 %) и цинка (до 0,68 %). С 1956 года на Западно-Каражальском месторождении производилась добыча железных и марганцевых руд открытым способом. С 1972 года по настоящее время месторождение отрабатывается подземным способом – шахтой «Западный Каражал» с годовой проектной производительностью 2,200 тыс. тонн железной руды в год. Добываемая железная руда перерабатывается на обогатительной установке. Получаемая продукция, железорудный концентрат класса 10-60 мм и 0-10 мм с содержанием железа 55-56%, отгружается потребителю АО «АрселорМиттал Темиртау». <br><span class="mt">Сегодня представительство «Оркен-Атасу» ТОО «Оркен» объединяет более 1 000 работников. Доля местного населения в общей численности персонала составляет 100%. Жизнеобеспечение предприятия осуществляют шахта «Западный Каражал», обогатительная фабрика, железнодорожный и автотранспортный цехи, ремонтно-строительный участок, цех лабораторий, энергоцех, центрально-электромеханические мастерские, цех подготовки производства и складского хозяйства, социальный комплекс, участок технологической диспетчеризации.<span> <br><span class="mt">В настоящее время горняками ведётся строительство горизонта +44м шахты «Западный Каражал». Так как вскрытые запасы месторождения горизонта +44м составляют 26,5 млн. тонн железной руды, при проектной производительности в 2,0 млн. тонн руды в год, эти запасы будут отработаны в течение 15 лет. Следовательно, в течение 2015-2016 гг. для обеспечения непрерывной производственной деятельности представительства «Оркен-Атасу» ТОО «Оркен» и социальной жизни города коллектив планирует начать строительство следующего горизонта -70м шахты «Западный Каражал» с годовой производительностью от 2,5 до 10,0 млн. тонн руды. Проектному институту уже выдано задание на выполнение ТЭО строительства горизонта.</span> 
		<!-- END SECTION PRODUCTION -->

		<!-- START SECTION PRODUCTION -->
		.section.s-production.section--long-pt
			.container 
				+titled-image-card('Представительство «Оркен-Атансор» ТОО «Оркен»', 'images/titled-image-card/11.jpg')
					p Представительство «Оркен–Атансор» ТОО «Оркен» — достаточно молодое предприятие. 12 ноября 2004 года оно вошло в состав железорудного департамента АО «АрселорМиттал Темиртау» (ТОО «Оркен»). Месторождение Атансор расположено в Енбекшильдерском районе Акмолинской области<span class="dots">...</span><span class="more">в 80 км. от г. Степногорск. Открыто в 1932 году и является единственным действующим рудником по добыче железной руды в Акмолинской области. Запасы месторождения составляют 37 млн. тонн и достаточны для разработки до 2030 года. Проектная мощность предприятия по сырой руде составляет 1,7 млн. тонн в год, готовой продукции (железорудного концентрата) – до 0,7 млн. тонн в год. Бесперебойную работу осуществляют работники горного цеха, дробильно-обогатительной фабрики (дробильно-сортировочного и обогатительного участков), автотранспортного и железнодорожного цехов, отдела технического контроля, энерго-, механослужбы, управления, рабочего посёлка. Работа ведётся вахтовым методом по 15 дней. <br><span class="mt">Здесь добываются мартитовые и магнетитовые руды. В связи с разным составом и типом руд, тектоническими нарушениями в залегании, месторождение считается довольно сложным, неоднородным. С этой целью была спроектирована и запущена в эксплуатацию к концу 2011 года обогатительная фабрика. Геологические условия месторождения Атансор позволяют вести его разработку наиболее эффективным – открытым способом.</span> <br>Карьер оснащён современным высокоэффективным горнотранспортным и специальным оборудованием Kamatsu, Atlas Copco. Для проведения буровых работ используется буровой станок типа ROC L8. Выемочно–погрузочные работы осуществляются экскаваторами вместимостью ковша 4,1 м3 и 5,5 м3. При транспортировке руды, пород от вскрышных работ применяется автосамосвалы Kamatsu грузоподъёмностью 35 тонн и 55 тонн, автосамосвалы HOVA грузоподъёмностью 30 тонн. Отвалообразование проводится при участии бульдозеров. Для складирования и усреднения руд применяется погрузчики. Путём дробления, грохочения, сухой магнитной сепарации руда проходит весь технологический процесс обогащения. В результате получается железорудный концентрат с содержанием железа 54-55% и хвосты с содержанием железа менее 20%. Железорудный концентрат транспортируется железнодорожным транспортом в стальной департамент «АрселорМиттал Темиртау». <br><span class="mt">Производство концентрата и его отгрузка на меткомбинат «АрселорМиттал Темиртау» составляет 500 000 тонн в год. Предприятие осознаёт всю ответственность перед сотрудниками и обществом. От того главной задачей видит для себя обеспечение стабильности на долгосрочный период.</span>
		<!-- END SECTION PRODUCTION -->
	<!-- END CONTENT IRON -->

	<!-- START SECTION MAP -->
	.section.section--medium-pt.s-map
		.container
			.title.title--mb-long.title--centered Вакансии по регионам и департаментам
			.s-map__inner 
				.s-map__items 
					a.s-map__link.content-tab(href="#steel") Cтальной департамент 
					a.s-map__link.content-tab(href="#coal") Угольный департамент
					a.s-map__link.content-tab(href="#iron") Железорудный департамент
				include ./map
	<!-- END SECTION MAP -->

